services:
  ffc-sfd-messages-processor:
    build:
      context: .
      target: production
    image: ffc-sfd-messages-processor
    container_name: ffc-sfd-messages-processor
    depends_on:
      - ffc-sfd-messages-processor-postgres
    environment:
      APPINSIGHTS_CLOUDROLE: ffc-sfd-messages-processor-local
      APPINSIGHTS_CONNECTIONSTRING: ${APPINSIGHTS_CONNECTIONSTRING}
      MESSAGE_HOST: ${MESSAGE_HOST}
      MESSAGE_USER: ${MESSAGE_USER}
      MESSAGE_PASSWORD: ${MESSAGE_PASSWORD}
      POSTGRES_DB: ffc-sfd-messages-processor
      POSTGRES_HOST: ffc-sfd-messages-processor-postgres
      POSTGRES_USERNAME: postgres
      POSTGRES_PASSWORD: ppp
      NOTIFY_API_KEY: ${NOTIFY_API_KEY}
      NOTIFY_MESSAGES_TEMPLATE_ID: ${NOTIFY_MESSAGES_TEMPLATE_ID}
      PROCESSOR_SUBSCRIPTION_ADDRESS: ${PROCESSOR_SUBSCRIPTION_ADDRESS}-${DEV_SUFFIX}
      PROCESSOR_TOPIC_ADDRESS: ${PROCESSOR_TOPIC_ADDRESS}-${DEV_SUFFIX}
      MESSAGES_SUBSCRIPTION_ADDRESS: ${MESSAGES_SUBSCRIPTION_ADDRESS}-${DEV_SUFFIX}
      MESSAGES_TOPIC_ADDRESS: ${MESSAGES_TOPIC_ADDRESS}-${DEV_SUFFIX}

  ffc-sfd-messages-processor-postgres:
    image: postgres:11.4-alpine
    environment:
      POSTGRES_DB: ffc-sfd-messages-processor
      POSTGRES_PASSWORD: ppp
      POSTGRES_USERNAME: postgres
