# For documentation on how to use, please go here: https://github.com/DEFRA/adp-aso-helm-library?tab=readme-ov-file#adp-platform-azure-service-operator-helm-library-chart.
# You may create Queues, Topics, Subscriptions, Storage Accounts, Databases and Role Assignments on these here.
namespace: ffc-sfd
namespaceTopics:
  - name: 'messages'
    roleAssignments:
      - roleName: 'TopicSender'
      - roleName: 'TopicReceiver'
    topicSubscriptions:
      - name: 'messages-processor'

postgres:
  db:
    name: 'messages-processor-postgres'
    charset: UTF8
    collation: en_US.utf8